In [2]:
import pandas as pd

In [3]:
name_genre = pd.read_csv('10000-MTV-Music-Artists-page-1.csv')

In [9]:
name_genre.drop(columns = ['facebook', 'twitter', 'website', 'mtv'])

                                name       genre
0                             Adele          Pop
1                       Joey + Rory      Country
2                   Draaco Aventura   Pop Latino
3                     Justin Bieber          Pop
4                   Peer van Mladen        House
...                              ...         ...
2994   Crosby, Stills, Nash & Young         Rock
2995                            CRU      Hip-Hop
2996                 Crystal Waters        House
2997                     Crazy Town         Rock
2998                  Cynthia Fetty          NaN

[2999 rows x 2 columns]